.node-edit-dialog .ant-btn-primary {
    background-color: #3362FF;
}

#network {
    margin-top: 1rem;
    margin-left: 10vw;
    margin-right: 0;
    display: block;
    width: 90vw;
    height: 85vh;
    background-color: #F5F5F5;
    border: 1px solid black;
}